<div id="addFileForm" class="modal">
    <form
        id="uploadForm"
        action="/file/create/new"
        method="POST"
        enctype="multipart/form-data"
    >
        <h3>New File</h3>

        <div id="uploadContainer">
            <input
                type="file"
                name="file"
                id="fileUpload"
                style="display: none"
                required
            />

            <label for="fileUpload" class="custom-file-upload"
                >Choose File</label
            >

            <p id="fileName">No file chosen</p>
        </div>

        <div class="actions">
            <button type="submit" id="createFileBtn">Upload</button>
            <button type="button" class="cancel" id="cancelFileBtn">
                Cancel
            </button>
        </div>
        <input type="hidden" name="parentId" value="<%= currentDirId %>" />
    </form>

    <div id="loadingSpinner" style="display: none">
        <p>Uploading File...</p>
    </div>
</div>
