<div id="addFileForm" class="modal">
    <form action="/file/create/new" method="POST" enctype="multipart/form-data">
        <h3>New File</h3>
        <input type="file" name="file" id="fileUpload" required />
        <div class="actions">
            <button type="submit" id="createFileBtn">Upload</button>
            <button type="button" id="cancelFileBtn">Cancel</button>
        </div>
        <input type="hidden" name="parentId" value="<%= currentDirId %>" />
    </form>
</div>
