<div id="deleteDirForm" class="modal">
    <form
        action="/directory/delete/<%= dirId %>"
        id="deleteDirFormElement"
        method="POST"
    >
        <h3 class="delete-text">Delete Directory</h3>
        <label for="dirName"
            >Are you sure you want to
            <span class="delete-text">delete</span> the current directory and
            all of its contents?
        </label>
        <input type="hidden" name="dirId" value="<%= dirId %>" />
        <div class="actions">
            <button type="submit" class="cancel-btn" id="formDeleteDirBtn">
                Delete
            </button>
            <button type="button" class="cancel-btn" id="cancelDeleteDirBtn">
                Cancel
            </button>
        </div>
        <input
            type="hidden"
            name="parentId"
            value="<%= currentDir.parentId %>"
        />
    </form>

    <div id="loadingSpinnerDelete" style="display: none">
        <p>Deleting Directory...</p>
    </div>
</div>
