<div id="deleteFileForm" class="modal">
    <form action="/file/delete/<%= fileId %>" method="POST">
        <h3 class="delete-text">Delete File</h3>
        <label for="fileName"
            >Are you sure you want to
            <span class="delete-text">delete</span> file "<%= fileName %>"
        </label>
        <input type="hidden" name="fileId" value="<%= fileId %>" />
        <div class="actions">
            <button type="submit" id="formDeleteFileBtn">Delete</button>
            <button type="button" id="cancelDeleteFileBtn">Cancel</button>
        </div>
        <input type="hidden" name="parentId" value="<%= currentDirId %>" />
    </form>
</div>
