<div id="editDirForm" class="modal">
    <form action="/directory/update/<%= dirId %>" method="POST">
        <h3 class="edit-text">Edit Directory</h3>
        <label for="dirName">Directory Name</label>
        <input
            type="text"
            name="newDirName"
            id="dirName"
            placeholder="New Directory Name"
            value="<%= dirName %>"
            class="edit-input"
            required
        />
        <div class="actions">
            <button type="submit" class="edit-button" id="formEditDirBtn">
                Update
            </button>
            <button type="button" class="cancel-btn" id="cancelEditDirBtn">
                Cancel
            </button>
        </div>
    </form>
</div>
