<div id="generatedLinkContainer" class="modal">
    <form id="generatedLinkForm">
        <h3 class="share-text">Share Directory</h3>

        <label for="generated-link">Generated Link</label>

        <input id="generated-link-dir-input" value="Generated Link" readonly />

        <div class="actions">
            <button
                type="submit"
                class="share-button"
                id="generatedLinkDirCopyBtn"
                class="generatedLink"
            >
                Copy
            </button>
            <button
                type="button"
                class="cancel-btn"
                id="cancelGeneratedLinkDirBtn"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
