<div id="generatedFileLinkContainer" class="modal">
    <form id="generatedFileLinkForm">
        <h3 class="share-text">Share File</h3>

        <label for="generated-link">Generated Link</label>

        <input id="generated-link-file-input" value="Generated Link" readonly />

        <div class="actions">
            <button
                type="submit"
                class="share-button"
                id="generatedLinkFileCopyBtn"
                class="generatedLink"
            >
                Copy
            </button>
            <button
                type="button"
                class="cancel-btn"
                id="cancelGeneratedLinkFileBtn"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
