<div id="header">
    <a href="/directory" id="header-left-part">
        <div id="header-title">CloudBridge</div>
        <img id="header-icon" src="/images/cloud-storage.png" />
    </a>

    <div id="header-right-part">
        <div id="header-login-theme-status">
            <div id="header-login-status">
                <% if (currentUser) { %> Logged in as <%= currentUser.username
                %> | <% } else { %> Not logged in | <% } %>
            </div>
            <img id="header-theme-status" src="/images/sun.png" />
        </div>
        <div id="header-login-signup-logout">
            <% if(currentUser) { %>
            <a href="/logout" id="header-logout">
                <img src="/images/logout.png" />
                <div id="header-login-link">Log out</div>
            </a>
            <% } else { %>
            <a href="/login" id="header-login">
                <img src="/images/login.png" />
                <div id="header-login-link">Log in</div>
            </a>
            <a href="/signup" id="header-signup">
                <img src="/images/add-user.png" />
                <div id="header-signup-link">Sign up</div>
            </a>
            <% } %>
        </div>
    </div>
</div>
