<div id="header">
    <a href="/" id="header-left-part">
        <div id="header-title">CloudBridge</div>
        <img id="header-icon" src="/images/cloud-storage.png" />
    </a>

    <div id="header-right-part">
        <div id="header-login-theme-status">
            <div id="header-login-status">Not logged in |</div>
            <img id="header-theme-status" src="/images/sun.png" />
        </div>
        <div id="header-login-signup">
            <a href="/login" id="header-login">
                <img src="/images/login.png" />
                <div id="header-login-link">Log in</div>
            </a>
            <a href="/signup" id="header-signup">
                <img src="/images/add-user.png" />
                <div id="header-signup-link">Sign up</div>
            </a>
        </div>
    </div>
</div>
