<% layout('layout') %>

<div id="container">
    <!-- SIDEBAR template -->
    <%- include('sidebar', { dirs: dirs }) %>

    <!-- MAIN CONTENT template -->
    <%- include('main', { currentDir: currentDir, formatDate: formatDate }) %>
</div>
