<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CloudBridge</title>
        <link rel="icon" href="/images/storage.png" />
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/auth.css" />
        <link rel="stylesheet" href="/styles/welcome_page.css" />
    </head>
    <body>
        <%- include('header') %>

        <!--  -->
        <%- body %>
    </body>
</html>
