<% layout('layout') %>

<form id="login" class="form" action="/login" method="POST">
    <% if (errors && errors.length > 0) { %>
    <div id="errors">
        <% errors.forEach(error => { %>
        <p><%= error %></p>
        <% }) %>
    </div>
    <% } %>

    <div id="form-header">Log In</div>

    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        id="username"
        value="<%= typeof prevUsername !== 'undefined' ? prevUsername : '' %>"
        required
    />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Log In</button>

    <div class="have-an-account">
        Do not have an account? <a href="/signup">Sign Up</a>
    </div>
</form>
