<% layout('layout') %>

<script>
    window.onload = function () {
        const successContainer = document.getElementById('success-container');
        const successMsg = document.getElementById('success-msg');

        // Check if the success message exists
        if (successMsg.innerHTML) {
            successContainer.style.display = 'flex';

            setTimeout(() => {
                successContainer.style.display = 'none';
            }, 3000);
        }
    };
</script>

<form id="login" class="form" action="/login" method="POST">
    <div id="success-container">
        <% if(success) { %>
        <div id="success-msg"><%= success %></div>
        <div id="progress-bar"></div>
        <% } %>
    </div>

    <div id="form-header">Log In</div>

    <% if (errors && errors.length > 0) { %>
    <div id="errors">
        <% errors.forEach(error => { %>
        <p><%= error %></p>
        <% }) %>
    </div>
    <% } %>

    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        id="username"
        value="<%= typeof prevUsername !== 'undefined' ? prevUsername : '' %>"
        required
    />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Log In</button>

    <div class="have-an-account">
        Do not have an account? <a href="/signup">Sign Up</a>
    </div>
</form>
