<% layout('layout') %>

<div id="welcome-info">
    <div id="welcome-header">Welcome to CloudBridge!</div>

    <div id="welcome-text">
        This app is designed to make managing your files and folders simple and
        effective. Once you're logged in, you can easily create and organize
        folders, upload files, and share folders with your friends. You can view
        details like file size and upload time, and there's a convenient
        download option so you can access your files whenever you need. So sign
        up if you haven't already and give it a try!
    </div>
</div>
