.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#addDirForm form,
#addFileForm form,
#deleteFileForm form,
#deleteDirForm form,
#editDirForm form {
    background-color: #303030;
    padding: 20px;
    border-radius: 5px;
    max-width: 450px;
}

.actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: end;
}

.actions button {
    padding: 7px;
    width: clamp(90px, 20%, 150px);
}

.cancel-btn:hover {
    border-color: var(--red-pink);
    background-color: var(--dark-wine-red);
}

.edit-input:focus {
    border-color: var(--gold);
    box-shadow: 0 0 10px var(--dark-yellow);
}
.edit-button:hover {
    background-color: var(--dark-yellow);
    border-color: var(--gold);
}

.create-text {
    color: var(--light-blue);
}

.delete-text {
    color: var(--red-pink);
}

.edit-text {
    color: var(--gold);
}

/* Upload container styles */
#uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-file-upload {
    background-color: var(--teal-blue);
    border: 1px solid var(--light-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
.custom-file-upload:hover {
    background-color: #0084dd;
}

#fileName {
    color: #555;
    font-style: italic;
    margin-top: 10px;
}

#fileUpload:focus + .custom-file-upload {
    box-shadow: 0 0 10px var(--teal-blue);
}

#loadingSpinner,
#loadingSpinnerDelete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
}
