.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#addDirForm form,
#addFileForm form,
#deleteFileForm form {
    background-color: #303030;
    padding: 20px;
    border-radius: 5px;
    max-width: 450px;
}

#actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: end;
}

#actions button {
    padding: 7px;
    width: clamp(90px, 20%, 150px);
}

#cancelDirBtn:hover,
#cancelFileBtn:hover,
#formDeleteFileBtn:hover,
#cancelDeleteFileBtn:hover {
    border-color: var(--red-pink);
    background-color: var(--dark-wine-red);
}

#fileNameToDelete {
    margin-top: 10px;
    border: 1px solid var(--red-pink);
    box-shadow: 0 0 10px var(--dark-wine-red);
    border-radius: 5px;
    color: var(--light-gray);
    background-color: var(--charcoal-gray);
    padding: 7px;
    padding-left: 12px;
    font-size: 1em;
}
