@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    color: var(--light-gray);
    background-color: #141419;
    height: 100%;
    --light-blue: #00aeff;
    --teal-blue: #0076ac;
    --light-gray: #e6e6e6;
    --charcoal-gray: #242424;
    --dark-gray: #3c3c3c;
    --dark-wine-red: #58151c;
    --red: #ff0000;
    --soft-light-pink: #f8d7da;
    --red-pink: #ff073a;
    --dark-blue-gray: #23232c;
    --medium-dark-blue-gray: #434355;
    --dark-yellow: #8a6700;
    --gold: #ffbf00;
    --deep-purple: #400040;
    --magenta: #ff00ff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    justify-content: flex-start;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

#container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 850px) {
    #container {
        flex-direction: column-reverse;
    }
}

/* Style the scrollbar container */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Style the scrollbar track (the area where the scrollbar moves) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
