#main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    height: 100vh;
}

#grid-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr;
    margin: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 1.1em;
}

#grid-header-name,
#grid-header-size,
#grid-header-created {
    padding: 10px;
}

#grid-header-name:hover,
#grid-header-size:hover,
#grid-header-created:hover {
    background-color: var(--dark-gray);
    cursor: pointer;
    border-radius: 5px;
}

#grid-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.dir-info-container,
.file-info-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr;
    text-decoration: none;
    color: var(--light-gray);
    border: 2px solid rgb(101, 101, 101);
    background-color: var(--dark-blue-gray);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.9em;
}
.dir-info-container:hover,
.file-info-container:hover {
    background-color: var(--teal-blue);
    border-color: var(--light-blue);
    color: white;
}

.dir-info-container svg,
.file-info-container svg {
    fill: white;
    flex-shrink: 0;
}

.grid-body-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-body-name {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 10px;
}

.grid-body-size {
    display: flex;
    margin-left: 10px;
}

.grid-body-created {
    display: flex;
    margin-left: 10px;
}

#no-dirs-or-files {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-weight: 700;
    color: #fdeb37;
}

@media (max-width: 850px) {
    #main {
        width: 95%;
        margin: 10px;
    }
}
