#sidebar {
    background-color: var(--dark-blue-gray);
    border-right: 2px solid var(--medium-dark-blue-gray);
    width: clamp(200px, 20vw, 250px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

#sidebar ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 7px;
}

#sidebar svg {
    fill: white;
}

#sidebar button {
    background-color: #373744;
    border: 1px solid #b5b5b5;
    color: #dddddd;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 9px;
    width: 100%;
    border-radius: 5px;
    font-size: 0.8em;
    min-width: 152px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
#sidebar button:hover {
    background-color: var(--teal-blue);
    border: 1px solid var(--light-blue);
    color: #ffffff;
}

#sidebar .download:hover {
    background-color: rgb(8, 70, 0);
    border-color: rgb(46, 191, 27);
}

#sidebar .share:hover {
    background-color: rgb(64, 0, 64);
    border-color: rgb(255, 0, 255);
}

#sidebar .delete:hover {
    background-color: var(--dark-wine-red);
    border-color: var(--red);
}

@media (max-width: 850px) {
    #sidebar {
        width: 100%;
        border-right: none;
        border-top: 2px solid var(--medium-dark-blue-gray);
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        justify-content: center;
    }

    #sidebar ul li {
        width: 100%;
        margin-bottom: 0;
    }

    #sidebar button {
        display: flex;
        justify-content: center;
        border: none;
        background: none;
        min-width: 50px;
        font-size: 0;
        padding: 6px;
        position: relative;
        width: 100%;
    }

    #sidebar button::before {
        content: '';
        display: inline-block;
    }

    #sidebar button:hover {
        background: none;
        border: none;
    }

    #sidebar svg {
        width: 22px;
        height: 22px;
    }

    #sidebar button:hover svg {
        fill: var(--light-blue);
    }

    #sidebar #shareDirBtn:hover svg {
        fill: rgb(255, 0, 255);
    }

    #sidebar #deleteDirBtn:hover svg,
    #sidebar #deleteFileBtn:hover svg {
        fill: var(--red);
    }

    #sidebar #downloadFileBtn:hover svg {
        fill: rgb(46, 191, 27);
    }

    #sidebar .delete:hover,
    #sidebar .share:hover,
    #sidebar .download:hover {
        background: none;
    }
}
